<h1>Liste des Produits</h1>
<table class="table">
    <thead class="thead"> 
        <tr><th>ID</th><th>Image</th><th>Titre</th><th>Prix</th>
        </tr>


    </thead>
    <tbody>
        <tr *ngFor="let p of produits ">
            <td>{{p.id}}</td>
            <td><img src="data:image/png;base64,{{p.image}}"> </td>
            <td>{{p.titre}}</td>
            <td>{{p.prix}}</td>
            <td><button class="btn btn-info" routerLink="/detail/{{p.id}}">detail</button></td>
        </tr>
    </tbody>
</table>